{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5 mt-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 offset-md-1 p-2 text-center mt-4">
            <h1 class="mb-2">About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>We're here to help Ateneans skip the lines, save time, and never miss a meal -- because you shouldn’t have to choose between eating and making it to class on time! <br><div> - Annika Ng, Leander Lee, and Riyen Ang :)</p>
        </div>
    </div>
</div>
{% endblock content %}

