<style>
  .footer-text {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -8px;
    margin-bottom: 6px;
  }

  .footer-btn {
    font-size: 0.9rem;
    padding: 4px 12px;
    margin-left: 6px;
    transition: all 0.3s ease;
    font-weight: 600;
    border-radius: 40px;
  }

  .footer-btn:hover {
    color: #0a4275;
    border-color: #0a4275;
    background-color: white;
  }

  footer {
    padding-top: 10px;     
    padding-bottom: 0;  
  }
</style>

<div class="container my-5">
  <section>
    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #0a4275;">
      <div class="container p-2 pb-0">
        <!-- Section: CTA -->
        <section>
          <p class="d-flex justify-content-center align-items-center footer-text">
            <span class="me-2">Restaurant Login:</span>
            <a href="/admin/" class="btn btn-outline-light footer-btn me-2">
              Admin Login
            </a>
            <a href="/restaurant/dashboard/" class="btn btn-outline-light footer-btn">
              Admin Dashboard
            </a>
          </p>
        </section>
      </div>

      <!-- Copyright -->
      <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2); font-size: 0.8rem;">
        © 2025 Copyright:
        <a class="text-white" href="#">ITMGT 25.03</a>
      </div>
    </footer>
    <!-- Footer -->
  </section>
</div>
